.container-page-cart {
    display: flex;
    padding-top: 160px;

    .data-toContact {
        width: 100%;
    }
    .container-products-cart {
        padding: 10px;
        height: 400px;
        width: 360px;
        border: 1px solid rgb(0, 0, 0);

        overflow: scroll;
        overflow-x: hidden;

        .btn-view-products {
            border: 1px solid black;
            background-color: white;
            &:hover {
                transition: 500ms;
                box-shadow: 2px 1px #000000;
            }
        }
    }

    .card-items-total {
        margin: 10px 10px 20px 10px;

        .container-cart {
            display: flex;
            width: 100%;
            margin: 10px 0px 0px 0px;
            border: 1px solid rgb(0, 0, 0);

            .cart-item-img {
                overflow: hidden;
                width: 30%;
                height: 100px;
                img {
                    width: 100%;
                    height: 100%;
                    margin: 10;
                }
            }

            .cart-item-info {
                display: flex;
                width: 70%;
                padding-left: 10px;

                .prod-info {
                    width: 80%;

                    word-wrap: break-word;
                    text-align: left;
                }

                .prod-price {
                    width: auto;

                    text-align: right;
                }
                p {
                    margin-top: 0px;
                    margin-bottom: 5px;
                    font-size: 15px;
                }
            }
        }

        .btn-delate-item {
            border: 1px solid black;
            margin: 10px;
            background-color: white;
            transition: 500ms;
            &:hover {
                transition: 500ms;
                box-shadow: 2px 1px #000000;
            }
        }

        .container-btnClear-total {
            width: 100%;
            margin: auto;

            .container-btn-cart {
                display: flex;
                justify-content: space-between;

                .btn-buy {
                    border: 1px solid black;
                    background: white;
                    padding: 0px 10px 0px 10px;
                    transition: 500ms;

                    &:hover {
                        transition: 500ms;
                        box-shadow: 2px 1px black;
                    }
                }

                .btn-clear {
                    border: 1px solid black;
                    background: white;
                    padding: 0px 10px 0px 10px;
                    transition: 500ms;

                    &:hover {
                        transition: 500ms;
                        box-shadow: 2px 1px black;
                    }
                }
            }

            div {
                display: flex;
                h3 {
                    font-size: 20px;
                    font-weight: bolder;
                    text-align: left;
                }
                h2 {
                    font-size: 20px;
                    font-weight: bolder;
                    text-align: right;
                    width: 100%;
                }
            }
        }
    }
}

.container-modal{
//    padding: 50px;

.cart-submit{
    background-color: aquamarine;
}


    .container-modal-form{
       

        .container-form{
            background: aqua;
        padding: 50px;
        }
    }
}
