//Card dos

.card-item {

    float: left;
    width: calc(33.333% - 14px);
    margin-top: 20px;
    box-shadow: 1px 1px 5px #0000002b;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    // &:nth-of-type(1) {
    //     margin-left: 0px;
    // }

    img {
        width: 100%;
        // margin: 10px;
    }

    .container-card {
        float: left;
        width: 100%;
        padding: 10px;
        // margin: 10px;
        

        .btn-container-card {
            display: flex;
            justify-content: space-between;

            .btn-card-view {
                margin-left: 20px;
                border: 1px solid black;
                font-size: 11px;
                background-color: #ffffff;
                color: black;
                transition: 500ms;
                padding: 1.5px;
                &:hover {
                    transition: 500ms;
                    box-shadow: 2px 1px #000000;
                    background-color: #ffffff;
                    color: rgb(0, 0, 0);
                }
            }

            .btn-card-cart {
                padding: 1.5px;
                border: none;
                font-size: 11px;
                background-color: #212529;
                color: white;
                transition: 500ms;
                &:hover {
                    transition: 500ms;
                    box-shadow: 2px 1px #000000;
                    background-color: #ffffff;
                    color: rgb(0, 0, 0);
                }
            }
        }

        .detail-card {
            h4 {
                font-size: 12px;
            }
        }
    }

    .container-img {
        overflow: hidden;

        .loading-item-card{
            // background-color: #0b0d23;
            border-bottom: 1px solid black;
            color: #ffffff;
            padding: 65px 0px 65px 0px;
        }

      
    }
}
