.cart-titel-card{
    display: flex;
    justify-content: center;
}

.cart-item-modal {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.536);
    width: 100%;
    justify-content: space-between;

    .cart-modal-img {
        img {
            border: 1px solid black;
            width: 100px;
            margin: 5px;
        }
    }

    .cart-modal-info {
        margin: 10px;
        width: 200px;

        p {
            overflow: auto;
        }
    }

    .cart-modal-action {
        align-items: center;
        align-self: center;
    }
}

.footer-modal-cart {
    align-self: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 0px 5px;
    width: 100%;
    .btn-custon {
        border: 1px solid black;
        background-color: white;
        padding: 5px 50px 5px 50px;
        &:hover {
            transition: 500ms;
            box-shadow: 2px 1px #000000;
        }

        .link-btn-custon {
            color: #000000;
            text-decoration: none;
        }
    }

    .btn-delateAll{
        border: 1px solid black;
        background-color: white;
        &:hover {
            transition: 500ms;
            box-shadow: 2px 1px #000000;
        }

    }
}


.container-message-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    margin-top: 50%;
    .face-icon-sad{
        width: 100%;
        font-size: 40px;
    }

    .message-cart{
        padding: 0px 5px 0px 5px;
        font-size: 17px;
    }

}

