.container-card-products{

    float: left;
    width: 100%;
    margin-bottom: 20px;
    

    .card-item{
        width: 200px;
        margin: 30px 30px 50px 30px;
        border: 1px solid black;
        // &:nth-of-type(3n + 1) {
        //     margin-left: 0px;
        // }
    }


    // ////

    .container-itemList{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .hero {
            
            height: 100vh;
            width: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url("../../../public/img/portadaDeportiva.png");
        }
        
    }
    
    .container-loading{
        
        min-height: 100vh;
    
        .ItemList-loading{
            min-height: 100vh;
            padding-top: 15%;
        }
    }

}


