.container-count{
    background-color: rgba(187, 187, 187, 0.272);
    width: 15rem;
    margin: auto;
    border: 2px solid red;

    .count-addMinus{
        border: 1px solid rgba(0, 255, 255, 0.565);
        background: black;

        
    }

}