body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "../components/NavBar/CartWidget/CartWidget";
@import "../components/NavBar/NavBar";
@import "../components/ItemListContainer/ItemListContainer";
@import "../components/ItemListContainer/ItemCount";
@import "../components/ItemListContainer/ItemCard/ItemCard";
@import "../components/ItemDetailContainer/ItemDetail";
@import "../components/Footer/Footer";
